*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

/* css header */
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    /* background: transparent; */
    transition: all .38s ease;
    padding: 13px 15%;
    background-color: snow;
    border-bottom: aliceblue;
}

/* header logo */
.logo{
    font-size: 30px;
    font-weight: 700;
    color: black;
}
header span{
    color: peachpuff;
}

/* header menu navbar */
.navbar{
    display: flex;
}
.navbar a{
    padding: 5px 10px;
    margin: 10px 20px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 0.38s ease;
}
.navbar a:hover{
    color: rgb(238, 225, 212);
    border-bottom: 2px solid black;
}

/* css header icon */
.h-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    background-color: peachpuff;
    padding: 10px 20px;
}
.bx{
    font-size: 22px;
    color: black;
    padding: 5px 5px;
    margin-left: 5px;
    margin-right: 5px;
}
#menu{
    cursor: pointer;
    font-size: 22px;
    display: none;
}
.mobie{
    flex-direction: column;
    align-items: center;
    width: 320px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: antiquewhite;
    padding-top: 40px;
    display: none;
    /* transform: translateX(100%); */
}
.mobie li{
    margin-bottom: 30px;
}
.mobie a{
    padding: 5px 10px;
    margin: 10px 20px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 0.38s ease;
}
/* cac thuoc tinh chung */
section{
    padding: 150px 15% 80px;
}
.title_text{
    text-align: center;
}
.title_text h1{
    padding: 15px;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img-container{
    width: 50%;;
}
.img-container img{
    width: 100%;
    height: auto;
}
.container{
    display: flex;
}
.book-container{
    width: 50%;
    height: auto;  
    padding: 20px;
    margin-left: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.item{
    display: flex;
}
.item i{
    padding: 5xp;
    margin: 0 10px 0 0;
    font-size: 27px;
    font-weight: 500;
    color: peachpuff;
    
}
.item input{
    min-width: 70%;
    border: none;
    border-bottom: 1px solid #333;
    padding: 5px;
}
.item input:focus{
    outline: none;
}
.item select{
    border-radius: 10px;
    min-width: 50px;
}
.btn input{
    padding: 13px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 20px;
    color: #fff;
    border: none;
    background-color: peachpuff;
    cursor: pointer;
}

/* css footer */
.contact{
    padding-top: 100px;
    padding-bottom: 50px;
}
.main-contact{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.contact-content h4{
    font-size: 20px;
    font-weight: 600;
    color: darksalmon;
    margin-bottom: 10px;
    /* padding-bottom: 10px; */
}
.contact-content h4:hover{
    transform: translateY(-5px);
    transition: 0.38s;
}
.contact-content i{
    padding: 0px;
    margin: 0;
}
.contact-content li{
    padding: 5px;
}
.contact-content li a{
    color: #333;
    font-weight: 500;
}
.contact-content li a:hover{
    transition: 0.4s;
    color:peachpuff
}
table {
    /* border-collapse: collapse; */
    width: 100%;
  }
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

@media only screen and (max-width: 63.9375em ) and (min-width: 46.25em){
    
}

@media only screen and (max-width: 46.1875em ){
    #menu{
        display: block;
    }
    .h-icons{
        padding: 1px;
    }
    .navbar{
        display: none;
    }
    .container, .main-contact{
        flex-direction: column-reverse;
    }
    .book-container, .img-container{
        width: 100%;
        margin-bottom:10px ;
        margin-left: 0;
    }
    .btn button{
        margin-top: 10px;
    }
    
}